body{
  text-align: center;  
}
body{
font-family:Agbalumo;

}
h2{
    color: #9c1717;: aqua;
}
h1{
    color: #e09d0b;
}
.img1{
    margin: 0%;
    padding: auto;
}.img2{
    margin: 0%;
    padding-left: ;
}.img3{
    margin: 0%;
}